<h5 class="text-center mt-5">Patient information And the number of acupuncture points on body parts</h5>
<form action="/patients/{{recordWithPatientName.patientId}}/records/{{recordWithPatientName._id}}/complete?_method=PUT"
  method="POST">
  <div class="container mt-3 record-detail">
    <span class="d-block p-2 bg-light text-center text-info">
      <strong>{{ recordWithPatientName.date }}</strong>
    </span>
    <div class="mt-2">
      <div class="row justify-content-center">
        <h4 class="text-center"><strong>{{ recordWithPatientName.patientName }}</strong></h4>
      </div>
    </div>
    <div class="table-wrapper">
      <table class="table table-bordered mt-2">
        <thead class="thead-dark">
          <tr>
            <th scope="col">#</th>
            <th scope="col">Acupuncture Body Areas</th>
            <th scope="col">Acupuncture Needle Count</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">1</th>
            <td> Head </td>
            <td>{{ recordWithPatientName.headAmount }}</td>
          </tr>
          <tr>
            <th scope="row">2</th>
            <td> Neck And Shoulderb</td>
            <td>{{recordWithPatientName.neckAndShoulderAmount }}</td>
          </tr>
          <tr>
            <th scope="row">3</th>
            <td>Left Hand</td>
            <td>{{ recordWithPatientName.leftHandAmount }}</td>
          <tr>
            <th scope="row">4</th>
            <td>Right Hand</td>
            <td>{{ recordWithPatientName.rightHandAmount }}</td>
          </tr>
          <tr>
            <th scope="row">5</th>
            <td>Lower Back</td>
            <td>{{ recordWithPatientName.lowerBackAmount }}</td>
          </tr>
          <tr>
            <th scope="row">6</th>
            <td>Abdomen</td>
            <td>{{ recordWithPatientName.abdomenAmount }}</td>
          </tr>
          <tr>
            <th scope="row">7</th>
            <td>Buttocks</td>
            <td>{{ recordWithPatientName.buttocksAmount }}</td>
          </tr>
          <tr>
            <th scope="row">8</th>
            <td>Left Leg</td>
            <td>{{ recordWithPatientName.leftLegAmount }}</td>
          </tr>
          <tr>
            <th scope="row">9</th>
            <td>Right Leg</td>
            <td>{{ recordWithPatientName.rightLegAmount }}</td>
          </tr>
          <tr>
            <th scope="row">10</th>
            <td>Sole</td>
            <td>{{ recordWithPatientName.soleAmount }}</td>
          </tr>
          <tr>
            <th scope="row">Total Amount</th>
            <td></td>
            <td>{{ recordWithPatientName.totalAmount }}</td>
          </tr>
        </tbody>
      </table>
    </div>
   
    {{#unless recordWithPatientName.isCompleted}}
      <div class="d-flex justify-content-center mt-4">
        <button id="completeButton" class="btn btn-info" type="submit" style="display: none;">Complete</button>
      </div>
    {{/unless}}
  </div>
</form>

<script>
  const recordCreatedAt = new Date("{{ recordWithPatientName.createdAt }}").getTime();

  const fifteenMinutesLater = recordCreatedAt + 15 * 60 * 1000;

  const now = new Date().getTime();

  const timeRemaining = fifteenMinutesLater - now;

  if (timeRemaining > 0 && !{{ recordWithPatientName.isCompleted }}) {
    setTimeout(() => {
      document.getElementById('completeButton').style.display = 'block';
    }, timeRemaining);
  } else if (!{{ recordWithPatientName.isCompleted }}) {
    document.getElementById('completeButton').style.display = 'block';
  }
</script>